{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% get_static_prefix %}css/base.css">
  <link rel="stylesheet" href="{% get_static_prefix %}css/layout.css">
  <link rel="stylesheet" href="{% get_static_prefix %}css/skeleton.css">
  <link rel="stylesheet" href="{% get_static_prefix %}css/style.css">

</head>
<body onload="initializeMap()">
{% block page %}
{% endblock page%}
<div id="footer">
  <ul class="horizontal">
    <li><a href="/tree_registration/">Fruit Tree By Owner</a></li>
    <li><a href="/tree_list/">List of Trees</a></li>
    <li><a href="/volunteer_registration">Volunteer</a></li>
    <li><a href="/spotted_tree/">Spotted Tree</a></li>
    <li><a href="/spotted_list/">Spotted Tree List</a></li>
    <li><a href="/create_harvest/">Create Harvest</a></li>
    <li><a href="/planned_harvests/">Planned Harvests</a></li>
  </ul>
</div><!--closes footer-->

</body>

</html>
