{% extends 'base.html' %}
{% block page %}

<div class="container">
  <h1>Home</h1>
  <ul>
    <li><a href="/tree_registration/">Fruit Tree By Owner</a></li>
    <li><a href="/tree_list/">List of Trees</a></li>
    <li><a href="/volunteer_registration">Volunteer</a></li>
    <li><a href="/spotted_tree/">Spotted Tree</a></li>
    <li><a href="/spotted_list/">Spotted Tree List</a></li>
    <li><a href="/create_harvest/">Create Harvest</a></li>
    <li><a href="/planned_harvests/">Planned Harvests</a></li>
  </ul>
</div><!--closes container -->
{% endblock page %}
