{% extends 'base.html' %}
{% block page %}

<div class="container">
  <h1>Planned Harvests</h1>
<iframe src="https://www.google.com/calendar/embed?src=9lt2oheg4tke9tmps856c97kj0%40group.calendar.google.com&ctz=America/Los_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  <ul>
    {% for harvest in harvests %}
    <li><a href="/harvest_dash/{{harvest.id}}/">{{harvest}}</a></li>
    {% endfor %}
  </ul>
</div><!--closes container -->
{% endblock page %}
