{% extends 'base.html' %}
{% block page %}

<div class="container">
  <h1>Review a Tree</h1>
  <h3>{{tree}}</h3>
  <ul>
    <h4>Stats</h4>
    <li>Type: {{tree.type}}</li>
    <li>Owner: {{tree.owner}}</li>
    <li>Address: {{tree.address}}</li>
{% for harvest in tree.harvests.all %}
    <li>{{harvest.date}} Harvest:{{harvest.pounds}} lbs</li>
{% endfor %}
  </ul>
  <div id="map_canvas" style="width: 500px; height: 300px"></div>
  <form action="." method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Create!" />
  </form>
</div><!--closes container -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCxf_ljx73homsazrdtygO9LF2Vpa9GVWE&sensor=false" type="text/javascript"></script>
<script type="text/javascript">
var coordinates = new google.maps.LatLng({{tree.lat}}, {{tree.lng}});

function initializeMap() {
  var myOptions = {
    zoom:11,
    center: coordinates,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
  };
  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  var marker = new google.maps.Marker({
    map: map,
    position: new google.maps.LatLng({{tree.lat}}, {{tree.lng}}),
    title: '{{tree.type}}',
    });
}

</script>
{% endblock page %}
