body {

}

.helptext {
display:none;
}

.horizontal li {
display:inline;
padding: 10px;}

#footer {
margin-left:auto;
margin-right:auto;
width:900px;
}

.formset1 {
background:blue;
}

.hide {
display:none;
}

.show {
display:block;
}